/* Center the logo*/

img {
    width: 100px;
    margin: 30px auto 0px auto;
    display: block;
}


/* Center the heading */

.jumboHeading {
    text-align: center;
    padding: 20px 0;
    font-size: 2.5em;
}


/* Center the heading */

.jumboSubHeading {
    text-align: center;
}


/* Don't display bullet points in list */

.the-list-of-videos {
    li {
        list-style-type: none;
    }
}